/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END OF CSS RESET */

/* COMPONENT CSS */

body {
    background-image: linear-gradient(#7d12ff, #ab20fd);
}
header {
    background-color: #f1f2f6;
    display: flex;
    flex-direction:column;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #4D4747;
}

.logoImageHeader {
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Monoton', cursive ;
    font-size: 80px;
    background: -webkit-linear-gradient(#7d12ff, #ab20fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.getStartedButton {
    background: linear-gradient(to right, #7d12ff, #ab20fd);
    font-family:  'Rubik Mono One', sans-serif;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #4D4747;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

button:hover {
    box-shadow: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #4D4747;
}

nav a {
    text-decoration: none;
    font-family: 'Rubik Mono One', sans-serif;
    color: #7d12ff;
    margin-right: 10px;
    border-right: 1px solid #4D4747;
    padding-right: 10px;
    transition-duration: 0.5s;
        transition-timing-function: ease;
}

nav a:hover {
    color:#ab20fd;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

footer {
    background-color: #f1f2f6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4D4747;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}

/* LANDING PAGE CSS */

.landingMain {
    margin: 40px;
    
}

.textArea {
    background-color: #f1f2f6;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #4D4747;
    padding: 10px;
    
}

.shortDesc {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #4D4747;
}

.animationArea {
    position: relative;
    top: 0;
    left: 0;
}

#recordSVG {
    position: relative;
    top: 0;
    left: 502px;
    z-index: 1;
    animation-name: recordAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}




#coverSVG {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}


@keyframes recordAnimation {
    40% {
        transform: translate(300px);
    }
}

.normalText {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-align: center;
}

/* ADD ALBUM PAGE CSS */

.formArea {
    display: flex;
    flex-direction: column;
}

.addAlbumForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.mainFormArea {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

.formCol1 {
    display: flex;
    flex-direction: column;
}

.formCol2 {
    display: flex;
    flex-direction: column;
}

.formCol3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #7d12ff;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    background-color: #f1f2f6;
    border: 2px solid #4D4747;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}

.trackLabel {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    background: linear-gradient(to right, #7d12ff, #ab20fd);
        font-family: 'Rubik Mono One', sans-serif;
        color: white;
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #4D4747;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        width: 500px;
        align-self: center;
        margin-top: 30px;
}

input[type="submit"]:hover {
    box-shadow: none;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        cursor: pointer;
}

h3, label {
    text-align: center;
}

.addTrackButton {
    background-color: none;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color:#7d12ff;   
}

textarea {
    border: 2px solid #4D4747;
    border-radius: 10px;
    padding: 5px;   
}

/* HISTORY PAGE CSS */

.historyMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.albumCard {
    background-color: #f1f2f6;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #4D4747;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 30px;
    gap: 30px;
}

.albumArtDisplay {
    width: 300px;
    height: 300px;
    padding: 30px 30px 0px 30px;
}

.albumInfoLine1 {
    display: flex;
    gap: 30px;
}

.albumInfoLine2 {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.seeMore {
    background: linear-gradient(to right, #7d12ff, #ab20fd);
        font-family: 'Rubik Mono One', sans-serif;
        color: white;
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #4D4747;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
}

.albumTitle {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    color:#7d12ff;
}

.albumInfoPara {
    font-family: 'Rubik', sans-serif;
}

.albumInfoLine2 p {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 16px;
    color:#7d12ff;
}